<body class="bg-100 p-10 flex justify-center items-center h-screen">
  <div class="bg shadow-lg rounded p-8 max-w-md w-full space-y-6">
    <h2 class="text-center text-2xl font-bold">Datos personales</h2>
    <div>
      <label
        for="firstName"
        class="block text-gray-700 text-sm font-bold mb-2"
      >Nombre</label>
      <input
        type="text"
        id="firstName"
        class="form-input rounded w-full py-2 px-3 border border-gray-300 focus:outline-none focus:ring focus:border-blue-500"
        value="{{first_name}}"
        disabled
      />
    </div>
    <div>
      <label
        for="lastName"
        class="block text-gray-700 text-sm font-bold mb-2"
      >Apellido</label>
      <input
        type="text"
        id="lastName"
        class="form-input rounded w-full py-2 px-3 border border-gray-300 focus:outline-none focus:ring focus:border-blue-500"
        value="{{last_name}}"
        disabled
      />
    </div>
    <div>
      <label
        for="email"
        class="block text-gray-700 text-sm font-bold mb-2"
      >Email</label>
      <input
        type="email"
        id="email"
        class="form-input rounded w-full py-2 px-3 border border-gray-300 focus:outline-none focus:ring focus:border-blue-500"
        value="{{email}}"
        disabled
      />
    </div>
    <div>
      <label
        for="age"
        class="block text-gray-700 text-sm font-bold mb-2"
      >Edad</label>
      <input
        type="text"
        id="age"
        class="form-input rounded w-full py-2 px-3 border border-gray-300 focus:outline-none focus:ring focus:border-blue-500"
        value="{{age}}"
        disabled
      />
    </div>
    <div>
      <label
        for="age"
        class="block text-gray-700 text-sm font-bold mb-2"
      >Rol</label>
      <input
        type="text"
        id="role"
        class="form-input rounded w-full py-2 px-3 border border-gray-300 focus:outline-none focus:ring focus:border-blue-500"
        value="{{role}}"
        disabled
      />
    </div>
    <a
      href="/forgot-password"
      class="btn btn-primary w-full text-center"
    >Cambiar Contraseña</a>
    <a href="/products" class="btn btn-accent w-full text-center">Volver</a>
  </div>
</body>