<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Detalles de la Compra</h5>
          <ul class="list-group">
            <li class="list-group-item">Código de Orden: {{payload.code}}</li>
            <li class="list-group-item">Fecha de Compra:
              {{payload.purchase_datetime}}</li>
            <li class="list-group-item">Monto Total: ${{payload.amount}}</li>
            <li class="list-group-item">ID de Compra: {{payload._id}}</li>
            <li class="list-group-item">Correo: {{payload.purchaser}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nuevo Carrito</h5>
          {{#if newCart.success}}
            <p class="text-success">{{newCart.message}}</p>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="/carts/{{newCart.cart._id}}">VER NUEVO CARRITO</a></li>
            </ul>
          {{else}}
            <p class="text-danger">{{newCart.message}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          {{#if productsNotPurchase.length}}
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Productos no comprados:</h4>
              <ul>
                {{#each productsNotPurchase}}
                  <li>
                    <strong>Título:</strong><br />
                    {{this.title}},
                    <strong>Precio:</strong><br />
                    ${{this.price}},
                    <strong>Cantidad:</strong><br />
                    {{this.quantity}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{else}}
            <div class="alert alert-success" role="alert">
              <p>No hay productos no comprados.</p>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    <button
      class="btn btn-warning my-5"
      onclick="location.href='/products'"
    >Regresar al Home</button>
  </div>
</div>